*.zip
*.swp
*.swo
*.un~
*.s~
*.c~
.DS_Store
*.pyc
*.py~
*.gdb
# emacs buffers
.#*
*.*#

# these are supposed to be removed with make clean
*.o
*.elf
*.bin
*.hex
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot

*.lock

exercise3/OSELAS.BSP-EnergyMicro-Gecko/src/
exercise3/OSELAS.BSP-EnergyMicro-Gecko/platform-energymicro-efm32gg-dk3750/
exercise3/OSELAS.BSP-EnergyMicro-Gecko/selected_toolchain
exercise3/OSELAS.BSP-EnergyMicro-Gecko/selected_platformconfig
exercise3/OSELAS.BSP-EnergyMicro-Gecko/selected_ptxconfig
exercise3/OSELAS.BSP-EnergyMicro-Gecko/rules/
exercise3/OSELAS.BSP-EnergyMicro-Gecko/platforms/
exercise3/OSELAS.BSP-EnergyMicro-Gecko/configs/
exercise3/OSELAS.BSP-EnergyMicro-Gecko/local_src/game-1.0/game
exercise3/OSELAS.BSP-EnergyMicro-Gecko/projectroot/
exercise3/OSELAS.BSP-EnergyMicro-Gecko/tests/
