*.zip
*.swp
*.swo
*.un~
*.s~
.DS_Store
*.pyc

# emacs buffers
.#*
*.*#

# these are supposed to be removed with make clean
*.o
*.elf
*.bin
*.hex
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.lof
*.lot

*.lock
